# NEED TO UPDATE!!!

<h1>Random Results</h1>
<h3>Minimum</h3>
<p><%= @minimum %></p>
<h3>maximum</h3>
<p><%= @maximum %></p>
<h3>Random Number</h3>
<p><%= @random_number %></p>
<p><a href="http://localhost:3000/random_number/new" target="_blank">Pick another random number.</a></p>
