<h1>Stats Calculation<h1>

# need to fix input type!!!!
<form action="/descriptive_stats/results">
  <label>
    Numbers
  </label>
  <input type="number" name="list_of_numbers">
  <button>Calculate descriptive statistics</button>
</form>
