<div class="container">
    <div class="row">
        <div class="col-md-2">
            <p><b>Part I Targets</b></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/flexible/square/5">Flexible Square Example</a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/flexible/square_root/25">Flexible Square Root Example</a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/flexible/payment/410/30/250000">Flexible Payment Example</a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/flexible/random/1/100">Flexible Random Number Example</a></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <p><b>Part II Targets</b></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/square/new">Square Form</a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/square_root/new">Square Root Form</a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/payment/new">Payment Form</a></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/random_number/new">Random Number Form</a></p>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
            <p><b>Part III Targets</b></p>
        </div>
        <div class="col-md-2">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/word_count/new">Word Count Form</a></p>
        </div>
        <div class="col-md-3">
            <p><a href="http://omnicalc-params-cywang89.c9users.io/descriptive_stats/new">Descriptive Statistics Form</a></p>
        </div>
    </div>

# NEED TO UPDATE!!!

    <h1>Random Results</h1>
    <h3>Minimum</h3>
    <p><%= @minimum %></p>
    <h3>maximum</h3>
    <p><%= @maximum %></p>
    <h3>Random Number</h3>
    <p><%= @random_number %></p>
    <p><a href="http://localhost:3000/random_number/new" target="_blank">Pick another random number.</a></p>

</div>