<h1>Payment Results</h1>
<h3>APR</h3>
<p><%= @APR %></p>
<h3>Number of years</h3>
<p><%= @number_of_years %></p>
<h3>Principal</h3>
<p><%= @principal %></p>
<h3>Monthly payment</h3>
<p><%= @monthly_payment %></p>
<p><a href="http://localhost:3000/payment/new" target="_blank">Calculate another payment.</a></p>
