<h1>Calculate your monthly mortgage payment.<h1>

<form action="/payment/results">
  <label>
    APR
  </label>
  <input type="number" name="annual_rate">
  <label>
    Number of years
  </label>
  <input type="number" name="number_of_years">
  <label>
    Principal
  </label>
  <input type="number" name="principal">
  <button>Calculate monthly payment</button>
</form>
