<h1>Random Calculation<h1>

<form action="/random_number/results">
  <label>
    Minimum
  </label>
  <input type="number" name="minimum">
  <label>
    Maximum
  </label>
  <input type="number" name="maximum">
  <button>Pick random number</button>
</form>
