<h1>Word Count Calculation<h1>

<form action="/word_count/results">
  <label>
    Text
  </label>
  <input type="text" name="text">
  <label>
    Special word
  </label>
  <input type="text" name="special_word">
  <button>Process text</button>
</form>
